<div>
    {{#each cube}}
    <div class="cube">
        <img class="cube" src="{{imageUrl}}" alt="{{name}}">
        <p class="name">{{name}}</p>
        <p name="Difficulty"><span>Difficulty level:</span>{{difficultyLevel}}</p>
        <a class="btn" href="/details/{{_id}}">Details</a>
    </div>
    {{/each}}
</div>